#customer-satisfaction .customer-satisfaction-message {
  display: flex;
  align-items: center;
}

#customer-satisfaction .customer-satisfaction-message button {
  margin-left: auto;
}

#customer-satisfaction form .g-recaptcha {
  margin: 1rem 0;
}

#cs-collapsible-form-area {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s max-height ease;
}

#cs-collapsible-form-area[aria-expanded="true"] {
  max-height: 600px;
}

#reviews-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
